*.bck
*.backup
*.swp

*.secret
*secret*
!terraform/modules/secrets/
!terraform/modules/secrets/**
*cred.json
*credential*
*credentials.json

*.log
*.pyc

venv
.venv
venv3
.venv3

.direnv

*.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.tofu/
